<div style="width: 670px; margin-left: auto; margin-right: auto;">
<table style="border-collapse: collapse;" border="1" width="670px" cellspacing="0" cellpadding="15">
<tbody>
<tr>
<td colspan="2" align="center" bgcolor="#ffffcc"><span style="font-size: xx-large;"><strong>%%mm.newsletter%%</strong></span><span style="font-size: x-large;"><strong><br /> </strong><span style="font-size: small;">Brought to you by %%mm.company%%&nbsp;<br /> %%mm.fullname%% - %%mm.phone%% - %%mm.email%%<br /> </span></span>
<div style="text-align: right;">&nbsp;<strong>March&nbsp;2016</strong></div>
</td>
</tr>
<tr>
<td style="background-color: #e9e7b6;" valign="top" width="180"><span style="color: #800000;"><span style="font-size: medium;"><strong>Inside This Issue</strong></span></span><strong><br /> <br /></strong><strong><span style="color: #333333;">Break free of boredom to unleash creativity</span><br /> <br /><span style="color: #333333;">Disney&rsquo;s philosophy: Strive to go further</span><br /> <br /><span style="color: #333333;">Help your brain stay healthy</span><br /> <br /><span style="color: #333333;"> Recipe of the month</span><br /> <br /><span style="color: #333333;"> Health in the news</span><br /> <br /></strong><span style="color: #333333;"><strong>Take the perfect family portrait</strong></span><br /> <br /> <br /><span style="color: #800000; font-size: medium;"><strong>Help your brain stay healthy</strong></span><br /> <br />
<div>&nbsp;</div>
<div>
<div>
<div>Feeding and stimulating your brain well can keep it healthy throughout your life. The American Academy of Family Physicians offers these tips for keeping your mind in tip-top shape:</div>
<div>&nbsp;</div>
<div><strong>&bull; Eat a healthy diet</strong>. Choose nutritious foods like antioxidant-rich vegetables, fruits, and whole grains, and omega-3 fatty acids, and cut out saturated fats. Avoid fad diets that offer short-term results.</div>
<div>&nbsp;</div>
<div>&bull;<strong> Watch your weight</strong>. Maintain a healthy weight and pay attention to your blood pressure, cholesterol, and blood sugar, which are all associated with an increased risk of dementia.</div>
<div>&nbsp;</div>
<div><strong>&bull; Exercise your brain</strong>. Keep learning new things all the time. Puzzles and games that stretch your mind can help you maintain good brain health. So can staying active socially, so keep up your friendships and strive to meet new people.&nbsp;</div>
</div>
</div>
<div>&nbsp;</div>
<div><span style="color: #800000;"><span style="font-size: medium;"><strong>Recipe of The Month</strong></span></span></div>
<div><br /><strong>Bacon and Avocado Macaroni Salad</strong></div>
<div>&nbsp;</div>
<div>
<div>A simple macaroni salad loaded with fresh avocado and applewood smoked bacon tossed in a lemon-thyme dressing &ndash; the best macaroni salad you&rsquo;ve ever had!</div>
<div>
<div>&nbsp;</div>
<div><strong>Bacon and Avocado Macaroni Salad</strong></div>
<div>&nbsp;</div>
<div>5 slices bacon, diced</div>
<div>2 avocados, halved, seeded, peeled and diced</div>
<div>Kosher salt and freshly ground black pepper, to taste</div>
<div>2 teaspoons fresh thyme leaves, for garnish</div>
<div>&nbsp;</div>
<div><strong>For the lemon thyme dressing</strong></div>
<div>3/4 cup mayonnaise</div>
<div>1/4 cup freshly squeezed lemon juice</div>
<div>1 1/2 tablespoons lemon zest</div>
<div>1 tablespoon sugar</div>
<div>1 teaspoon fresh thyme leaves</div>
<div>Kosher salt and freshly ground black pepper, to taste</div>
<div>1/3 cup olive oil</div>
<div>&nbsp;</div>
<div>To make the dressing, combine mayonnaise, lemon juice, lemon zest, sugar and thyme in the bowl of a food processor; season with salt and pepper, to taste. With the motor running, add the olive oil in a slow stream until emulsified; set aside.</div>
<div>&nbsp;</div>
<div>In a large pot of boiling salted water, cook pasta according to package instructions; drain well.</div>
<div>&nbsp;</div>
<div>Heat a large skillet over medium high heat. Add bacon and cook until brown and crispy, about 6-8 minutes. Transfer to a paper towel-lined plate.</div>
<div>&nbsp;</div>
<div>In a large bowl, combine pasta, bacon, avocado, lemon-thyme dressing, salt and pepper to taste.</div>
<div>&nbsp;</div>
<div>Serve immediately, garnished with thyme.&nbsp;</div>
</div>
<div>&nbsp;</div>
<div>
<div style="display: inline !important;"><span style="font-weight: normal;"><span style="color: #800000;"><strong><span style="font-size: medium;">Thanks for all of your Referrals!&nbsp;</span></strong></span></span></div>
</div>
</div>
<div><span style="font-weight: normal;"><br /> </span><span style="font-weight: normal;">I succeed when people like you refer to me your friends, neighbors and colleagues. </span>&nbsp;</div>
<div>&nbsp;</div>
<div><span style="font-weight: normal;">It's the best kind of compliment I can receive. </span></div>
<div><span style="font-weight: normal;">Recycle this Newsletter by forwarding it to a friend!</span></div>
<div>&nbsp;</div>
<div style="text-align: center;">%%mm.fullname%%</div>
<div style="text-align: center;">%%mm.company%%</div>
<div style="text-align: center;">%%mm.email%%</div>
<div style="text-align: center;">%%mm.phone%%&nbsp;</div>
<div style="text-align: center;">%%mm.freetext%%&nbsp;</div>
</td>
<td valign="top" width="490"><span style="color: #800000; font-size: large;"><strong>Break free of boredom to unleash creativity</strong></span><br /> <br />
<div>
<div>
<div>You can&rsquo;t be creative if you&rsquo;re bored out of your skull.&nbsp;</div>
<div>&nbsp;</div>
<div>We all feel jaded and restless from time to time, but if you&rsquo;re suffering from a complete lack of stimulation, try these tricks for snapping out of it:</div>
<div>&nbsp;</div>
<div><strong>&bull; Read something new.</strong> Pick a book by an author you&rsquo;ve never read, or one that covers a subject you know nothing about.</div>
<div>&nbsp;</div>
<div><strong>&bull; Get some exercise.</strong> Physical activity will get your blood pumping and stimulate endorphin production, making you feel energetic and happier.</div>
<div>&nbsp;</div>
<div><strong>&bull; Talk to people.</strong> Pick someone you don&rsquo;t know very well, and find out all you can about him or her.</div>
<div>&nbsp;</div>
<div><strong>&bull; Explore your surroundings.</strong> Stop ignoring the sights on your way to work, or at work.&nbsp;</div>
<div>&nbsp;</div>
<div>Pay attention to all you see&mdash;look for something different and original.</div>
<div>&nbsp;</div>
<div><strong>&bull; Rearrange your space.</strong> Sometimes shifting things around at home or at work can force you to look at your surroundings, and your life, in a new light.</div>
<div>&nbsp;</div>
<div><strong>&bull; Try a new recipe.</strong> Get out of the rut in your kitchen.&nbsp;</div>
<div>&nbsp;</div>
<div>Pick a challenging recipe for dinner, or stop making the same old sandwiches for your lunch.</div>
</div>
<div>&nbsp;</div>
</div>
<span style="font-size: large;"><strong><br /> </strong></span>
<div><span style="color: #800000; font-size: large;"><strong>Disney&rsquo;s philosophy: Strive to go further</strong></span></div>
<div>&nbsp;</div>
<div>
<div>&nbsp;</div>
<div>
<div>
<div>In the 1920s and 1930s, cartoons were short features shown in theaters before the main film.&nbsp;</div>
<div>&nbsp;</div>
<div>Walt Disney had already made his name in these short subjects by employing innovations like sound and color, and by creating the character of Mickey Mouse.&nbsp;</div>
<div>&nbsp;</div>
<div>Sound and color was becoming old hat, and the advent of the double feature meant that cartoons could only be about six minutes long.</div>
<div>Disney could have continued making distinctive short subjects within the expected parameters, but he had a different idea: He wanted to make an animated feature film.&nbsp;</div>
<div>&nbsp;</div>
<div>His wife was against the idea, thinking Disney was already doing fine with shorter cartoons.&nbsp;</div>
<div>&nbsp;</div>
<div>But he wouldn&rsquo;t let go. His vision was an 83-minute cartoon that took years and millions of dollars to make. People called his absurd idea &ldquo;Disney&rsquo;s folly.&rdquo;</div>
<div>&nbsp;</div>
<div>But Disney&rsquo;s vision and determination won the day. In 1937, Snow White and the Seven Dwarfs was declared Best Picture of the Year by the New York Film Critics Circle Awards and the Venice Film Festival, and Disney was awarded an honorary Academy Award.&nbsp;</div>
<div>&nbsp;</div>
<div>His &ldquo;folly&rdquo; was the first of more than 30 feature films and the beginning of the phenomenal Disney Empire that lives to this day.</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;&nbsp;</div>
</div>
</div>
<span style="color: #800000;"><span style="font-size: large;"><strong>Health in the News</strong></span></span><br /> <br />
<div>
<div>&nbsp;</div>
<div>
<div><strong>Extra sleep may not lead to longer life</strong></div>
<div>&nbsp;</div>
<div>
<div>
<div>Most of us look forward to sleeping late on the weekend. After a hard week of work, we deserve a few extra hours, right? But a study from the Journal of Clinical Endocrinology &amp; Metabolism suggests that sleeping in may contribute to a higher risk of diabetes and heart disease.</div>
<div>&nbsp;</div>
<div>Researchers tracked more than men and women age 30-54, using devices that recorded their movement to determine when they fell asleep and woke up for a one-week period. Close to 85 percent went to bed later and got up later on their days off from work, and those people tended to experience lower levels of HDL cholesterol (the good kind) along with higher triglycerides, greater resistance to insulin, and a higher body mass index, even after controlling for factors like physical activity, calorie consumption, and alcohol use.</div>
<div>&nbsp;</div>
<div>The implications are clear: Maintaining a consistent sleep schedule, even on weekends, is better for everyone&rsquo;s long-term health.</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>Aspirin prevents skin cancer?</strong></div>
<div>&nbsp;</div>
<div>
<div>Aspirin is known to cure our aches and pains and improve heart health. It may also be useful in preventing certain kinds of skin cancer, according to an article on the Discover magazine website.</div>
<div>&nbsp;</div>
<div>Non-steroidal anti-inflammatory drugs (NSAIDs) like aspirin and ibuprofen are already known to help prevent cancers in the colon, lungs, prostate, and breasts. A meta-analysis of studies, some previously unavailable to researchers turned up evidence that non-aspirin NSAIDs can reduce the risk of developing squamous cell carcinoma by 15 percent, and that when aspirin is added to the mix, the risk drops to 18 percent. NSAIDs are known to inhibit COX-2, an enzyme produced by skin cells in response to ultraviolet light.</div>
<div>&nbsp;</div>
<div>Talk to your dermatologist about aspirin, and otherwise limit your exposure to UV light to stay safe from skin cancer all year round.</div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>Keep the speed up when you walk</strong></div>
<div>&nbsp;</div>
<div>
<div>A brisk walk is good for your health, especially as you grow older. A study reported on the LiveScience website found that older adults who maintain a speed of 3 miles per hour when they walk have a 50 percent lower risk of heart disease than people with a pace of two miles per hour or slower. And folks who walk an average of seven blocks a day have a 47 percent lower chance of developing heart disease than those whose walks add up to just five blocks a day or less. So put your shoes on and get walking.</div>
</div>
</div>
<div>&nbsp;</div>
</div>
<div>&nbsp;</div>
<div><span style="color: #800000; font-size: large;"><strong>Take the perfect family portrait</strong></span></div>
<div>&nbsp;</div>
<div>
<div>
<div>&nbsp;</div>
<div>
<div>&nbsp;</div>
<div>
<div>Portraits of your children as they grow up can become a treasured memory, but getting them taken can sometimes be a struggle. If you&rsquo;re determined to take just the right picture, try these for tips for portrait photography without tears:</div>
<div>&nbsp;</div>
<div>&bull; <strong>Take the picture early.</strong> A photo session first thing in the morning is easier on everyone. You can dress your kids appropriately and let them change into &ldquo;play clothes&rdquo; afterward instead of forcing them to get cleaned up and changed later in the day, when they&rsquo;re more apt to be tired and cranky.</div>
<div>&nbsp;</div>
<div>&bull; <strong>Have some variety.</strong> If you have more than one child, restrain the urge to dress them in matching outfits. A more picturesque option: Dress them in different outfits of the same color.</div>
<div>&nbsp;</div>
<div>&bull; <strong>Don&rsquo;t overdo things.</strong> Keep clothes and accessories simple. Remember that your focus should be on the child&rsquo;s face.</div>
<div>&nbsp;</div>
<div>&bull; <strong>Plan ahead of time.</strong> Get your child a haircut a few days before the portrait session, not that morning. If the cut turns out to be too short or severe, time will relax the look.</div>
<div>&nbsp;</div>
<div>&bull; <strong>Smile!</strong> Try to avoid a forced, insincere smile on your subject&rsquo;s face. Relax and let your child&rsquo;s personality shine through.</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>